---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/blog/categoria/{{ tag | slug }}/"
eleventyComputed:
  title: "Notas sobre {{ categoryInfo[tag].es.name | default(tag) }} | Blog Camila Mastriaco"
  title_en: "Notes about {{ categoryInfo[tag].en.name | default(tag) }} | Blog Camila Mastriaco"
  
---


<main>
    <section id="blog-hero" class="animate-on-scroll section-divider">
        <div class="container">
            <h1 data-lang-es="Notas sobre {{ categoryInfo[tag].es.name }}" 
                data-lang-en="Notes about {{ categoryInfo[tag].en.name }}">
                Notas sobre {{ categoryInfo[tag].es.name }}
            </h1>
        <p class="category-description" 
        data-lang-es="{{ categoryInfo[tag].es.description }}"
        data-lang-en="{{ categoryInfo[tag].en.description }}">
        {{ categoryInfo[tag].es.description }}
        </p>
        </div>
    </section>

    <section id="blog-list" class="no-padding-bottom">
        <div class="container">
            <div class="category-grid">
            
            {% for item in collections[tag] | reverse %}
                <a href="{{ item.url | url }}" class="blog-post-card animate-on-scroll">
                    <div class="post-card-image">
                        {% image item.data.og_image, "Imagen de portada del artículo " + item.data.title_es, "", "(min-width: 960px) 300px, (min-width: 640px) 45vw, 90vw" %}                           </div>
                    <div class="post-card-content">
                        <h2 data-lang-es="{{ item.data.title_es }}" 
                            data-lang-en="{{ item.data.title_en }}">
                            {{ item.data.title_es }}
                        </h2>
                        <p data-lang-es="{{ item.data.description_es }}"
                           data-lang-en="{{ item.data.description_en }}">
                           {{ item.data.description_es }}
                        </p>
                        <span class="read-more-indicator" data-lang-es="Leer más" data-lang-en="Read more">Leer más</span>
                    </div>
                </a>
            {% endfor %}

            </div>
        </div>
    </section>
</main>