---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/blog/categoria/{{ tag | slug }}/"
eleventyComputed:
  title: "Notas sobre {{ categoryNames[tag].es | default(tag) }} | Blog Camila Mastriaco"
  title_en: "Notes about {{ categoryNames[tag].en | default(tag) }} | Blog Camila Mastriaco"
---


<main>
    <section id="blog-hero" class="animate-on-scroll section-divider">
        <div class="container">
            <h1 data-lang-es="Notas sobre: {{ tag | getCategoryName('es') }}" 
                data-lang-en="Notes about: {{ tag | getCategoryName('en') }}">
                Notas sobre: {{ tag | getCategoryName('es') }}
            </h1>
        </div>
    </section>

    <section id="blog-list">
        <div class="container">
            <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 30px;">
            
            {% for item in collections[tag] | reverse %}
                <a href="{{ item.url | url }}" class="blog-post-card animate-on-scroll">
                    <div class="post-card-image">
                        <img src="{{ item.data.og_image | url }}" alt="Imagen de portada del artículo {{ item.data.title_es }}">
                    </div>
                    <div class="post-card-content">
                        <h2 data-lang-es="{{ item.data.title_es }}" 
                            data-lang-en="{{ item.data.title_en }}">
                            {{ item.data.title_es }}
                        </h2>
                        <p data-lang-es="{{ item.data.description_es }}"
                           data-lang-en="{{ item.data.description_en }}">
                           {{ item.data.description_es }}
                        </p>
                        <span class="read-more-indicator" data-lang-es="Leer más" data-lang-en="Read more">Leer más</span>
                    </div>
                </a>
            {% endfor %}

            </div>
        </div>
    </section>
</main>