---
layout: base.njk
---

<main>
    <article id="static-page" class="animate-on-scroll">
        <div class="container post-content-container static-page-padding">
            {{ content | safe }}
        </div>
    </article>
</main>