---
layout: base.njk
---

<main>
    <article id="static-page" class="animate-on-scroll">
        <div class="container post-content-container" style="padding-top: 40px; padding-bottom: 40px;">
            {{ content | safe }}
        </div>
    </article>
</main>