---
layout: base.njk
---

<main>
    <article id="single-post" class="animate-on-scroll">
        <div class="container post-content-container">
            {{ content | safe }}
        </div>
    </article>
</main>